@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: local("HelveticaNeueLTProLt"),
    url("../fonts/HelveticaNeueLTProLt.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: local("HelveticaNeueLTProMd"),
    url("../fonts/HelveticaNeueLTProMd.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: local("HelveticaNeueLTProRoman"),
    url("../fonts/HelveticaNeueLTProRoman.otf") format("opentype");
}
@font-face {
  font-family: "Merriweather-LightItalic";
  src: local("Merriweather-LightItalic"),
    url("../fonts/Merriweather-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 340px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu__item {
  margin-right: 40px;
  padding-bottom: 15px;
}

.menu__item a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #989696;
  display: flex;
  align-items: center;
  transition: .3s;
}

.menu__item.active a,
.menu__item:hover a {
  color: #010101;
}

.menu__item img {
  width: 55px;
  height: 54px;
  object-fit: cover;
}

.header__content {
  padding: 206px 0;
  text-align: center;
  border-bottom: 1px solid #000;
}

.header__title {
  font-family: 'Helvetica Neue Pro - Lt', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin-bottom: 14px;
}

.header__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin-bottom: 43px;
}

.header__button {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: none;
  padding: 25px 52px;
  border: 1px solid #000000;
  transition: 0.3s;
  max-width: 300px;
}

.header__button:hover {
  font-weight: bold;
}

.about__inner {
  overflow: hidden;
  padding: 128px 94px 93px;
  background-color: #1d1d1d;
  background-image: url("../img/about_bg.png");
  background-position: 50% 100.5%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item{
  padding: 79px 13px 98px;
  background-color: #181818;
  width: 417px;
  margin-bottom: 178px;
}

.about__year {
  font-family: 'HelveticaNeueLTProMd', sans-serif;
  font-size: 48px;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
  text-align: center;
}

.about__text{
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #b7b7b7;
}

@media screen and (max-width: 1150px){
  .about__item {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .about__item {
    width: 300px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 900px){
  .about__inner {
    flex-direction: column;
    justify-content: flex-start;

  }
  .about__item {
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  .about__inner {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 120px;
  }

  .about__item {
    margin-bottom: 30px;
  }
  .header__content {
    padding: 100px 0;
  }
  .header__title {
    font-size: 35px;
  }
}


@media screen and (max-width: 622px) {
  .header__content {
    padding: 50px 0;
  }
  .menu {
    position: relative;
    padding-left: 95px;
  }
  .menu__item:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 380px) {
  .menu {
    padding-left: 0;
  }
  .menu__item {
    width: 100%;
    text-align: center;
  }
  .menu__item:nth-child(4){
    position: relative;
    top: auto;
    left: auto;
    order: -1;
  }

  .menu__item a {
    display: block;
  }
}
